<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{if $TITLE}{$TITLE|escape} | WingPHP{else}Welcome to WingPHP{/if}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<style>
body {
	min-height: 2000px;
}
footer{
	margin-left: 10px;
}
.navbar-static-top {
	margin-bottom: 19px;
}
</style>
</head>
<body>

{include file="_common/header.html"}

<div class="container">
	{$CONTENT}
	<hr>
	{include file="_common/footer.html"}
</div>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{if $smarty.server.REQUEST_URI|match:'/^\/sample\/validation/'}
<script>
$(document).ready(function(){
	//------------------------------------------------
	// タブをクリックでアンカー移動
	//------------------------------------------------
	$('#myTab a').click(function (e) {
		location.href = $(this).attr('href');
	});

	//----------------------------------------------------------
	// REQUEST URLにアンカーがある場合、デフォルトで開くタブを調整
	//----------------------------------------------------------
	(function(){
		var hash = location.hash;
		switch(hash){
			case '#basictab': 			//ページ中に存在しないアンカー名 (スクロールしないように)
				$('#li-basic').tab('show');
				break;
			case '#formtab':
				$('#li-form').tab('show');
				break;
			case '#extab':
				$('#li-ex').tab('show');
				break;
			default:
				break;
		}
	})();
});
</script>
{/if}
</body>
</html>
