<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="robots" content="nofollow,noindex" />

<title>404 FileNotFound</title>
</head>
<body>

<h1>ファイルが存在しません</h1>
<p>実際にはクラスやメソッドが存在しない場合に呼び出されます</p>
<p><span style="color:gray">error/404.html</span></p>

{include file="_common/footer.html"}
</body>
</html>