<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#basic" data-toggle="tab">基本バリデーション</a></li>
  <li><a href="#form" data-toggle="tab">フォーム部品</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="basic">
<form action="/sample/validation/check" class="form-horizontal" role="form" style="margin-top:25px;">
	<div class="form-group{iserror name="require"} has-error{/iserror}">
		<label for="require" class="col-lg-2 col-xs-2 control-label">必須項目(require)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="require" name="require" placeholder="未入力でエラー" value="{$smarty.request.require|escape}">
			{iserror name="require"}<span class="help-block">{errormsg name="require"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="bytemax"} has-error{/iserror}">
		<label for="bytemax" class="col-lg-2 col-xs-2 control-label">最大バイト数(bytemax)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="bytemax" name="bytemax" placeholder="4byte以上入力するとエラー" value="{$smarty.request.bytemax|escape}">
			{iserror name="bytemax"}<span class="help-block">{errormsg name="bytemax"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="bytemin"} has-error{/iserror}">
		<label for="bytemin" class="col-lg-2 col-xs-2 control-label">最小バイト数(bytemin)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="bytemin" name="bytemin" placeholder="4byte以上入力しないとエラー" value="{$smarty.request.bytemin|escape}">
			{iserror name="bytemin"}<span class="help-block">{errormsg name="bytemin"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="max"} has-error{/iserror}">
		<label for="max" class="col-lg-2 col-xs-2 control-label">最大値(max)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="max" name="max" placeholder="500を越える数値でエラー" value="{$smarty.request.max|escape}">
			{iserror name="max"}<span class="help-block">{errormsg name="max"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="min"} has-error{/iserror}">
		<label for="min" class="col-lg-2 col-xs-2 control-label">最小値(min)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="min" name="min" placeholder="500を下回る数値でエラー" value="{$smarty.request.min|escape}">
			{iserror name="min"}<span class="help-block">{errormsg name="min"}</span>{/iserror}
		</div>
	</div>

	<div class="form-group{iserror name="match"} has-error{/iserror}">
		<label for="match" class="col-lg-2 col-xs-2 control-label">正規表現(match)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="match" name="match" placeholder="/^He/にマッチしなければエラー" value="{$smarty.request.match|escape}">
			{iserror name="match"}<span class="help-block">{errormsg name="match"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="eq"} has-error{/iserror}">
		<label for="eq" class="col-lg-2 col-xs-2 control-label">文字列比較(eq)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="eq" name="eq" placeholder="'XYLITOL'でなければエラー" value="{$smarty.request.eq|escape}">
			{iserror name="eq"}<span class="help-block">{errormsg name="eq"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="ne"} has-error{/iserror}">
		<label for="eq" class="col-lg-2 col-xs-2 control-label">文字列比較(ne)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="ne" name="ne" placeholder="'XYLITOL'ならエラー" value="{$smarty.request.ne|escape}">
			{iserror name="ne"}<span class="help-block">{errormsg name="ne"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="in"} has-error{/iserror}">
		<label for="eq" class="col-lg-2 col-xs-2 control-label">文字列比較(in)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="in" name="in" placeholder="雪,月,花のいずれかでなければエラー" value="{$smarty.request.in|escape}">
			{iserror name="in"}<span class="help-block">{errormsg name="in"}</span>{/iserror}
		</div>
	</div>

	<div class="form-group{iserror name="num"} has-error{/iserror}">
		<label for="num" class="col-lg-2 col-xs-2 control-label">半角数字(num)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="num" name="num" placeholder="半角数字でなければエラー" value="{$smarty.request.num|escape}">
			{iserror name="num"}<span class="help-block">{errormsg name="num"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="alpha"} has-error{/iserror}">
		<label for="alpha" class="col-lg-2 col-xs-2 control-label">半角英字(alpha)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="alpha" name="alpha" placeholder="半角英字でなければエラー" value="{$smarty.request.alpha|escape}">
			{iserror name="alpha"}<span class="help-block">{errormsg name="alpha"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="alnum"} has-error{/iserror}">
		<label for="alnum" class="col-lg-2 col-xs-2 control-label">半角英数字(alnum)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="alnum" name="alnum" placeholder="半角英数字でなければエラー" value="{$smarty.request.alnum|escape}">
			{iserror name="alnum"}<span class="help-block">{errormsg name="alnum"}</span>{/iserror}
		</div>
	</div>

	<div class="form-group{iserror name="url"} has-error{/iserror}">
		<label for="url" class="col-lg-2 col-xs-2 control-label">URL(url)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="url" name="url" placeholder="URLでなければエラー" value="{$smarty.request.url|escape}">
			{iserror name="url"}<span class="help-block">{errormsg name="url"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="email"} has-error{/iserror}">
		<label for="email" class="col-lg-2 col-xs-2 control-label">Email(email)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="email" name="email" placeholder="emailでなければエラー" value="{$smarty.request.email|escape}">
			{iserror name="email"}<span class="help-block">{errormsg name="email"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="ip4"} has-error{/iserror}">
		<label for="ip4" class="col-lg-2 col-xs-2 control-label">IPアドレス(ip4)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="ip4" name="ip4" placeholder="IPアドレス(IPv4)でなければエラー" value="{$smarty.request.ip4|escape}">
			{iserror name="ip4"}<span class="help-block">{errormsg name="ip4"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="postcd"} has-error{/iserror}">
		<label for="postcd" class="col-lg-2 col-xs-2 control-label">郵便番号(postcd)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="postcd" name="postcd" placeholder="郵便番号(123-4567)でなければエラー" value="{$smarty.request.postcd|escape}">
			{iserror name="postcd"}<span class="help-block">{errormsg name="postcd"}</span>{/iserror}
		</div>
	</div>
	<div class="form-group{iserror name="tel"} has-error{/iserror}">
		<label for="tel" class="col-lg-2 col-xs-2 control-label">電話番号(tel)</label>
		<div class="col-lg-4 col-xs-4">
			<input type="textbox" class="form-control" id="tel" name="tel" placeholder="電話番号でなければエラー" value="{$smarty.request.tel|escape}">
			{iserror name="tel"}<span class="help-block">{errormsg name="tel"}</span>{/iserror}
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 col-xs-2 control-label"></label>
		<div class="col-lg-4 col-xs-4">
			<button type="submit" class="btn btn-default">Validation</button>
		</div>
	</div>
</form>
</div> <!-- /tab-pane-->
<div class="tab-pane" id="form">
<form action="/sample/validation/check2" class="form-horizontal" role="form">


	<div class="form-group">
		<label class="col-lg-2 col-xs-2 control-label"></label>
		<div class="col-lg-4 col-xs-4">
			<button type="submit" class="btn btn-default">Validation</button>
		</div>
	</div>
</form>
</div> <!-- /tab-pane-->
</div> <!-- /tab-content -->
