<div class="jumbotron">
	<h1>Welcome to WingPHP</h1>
	<p>WingPHPは軽量で、初期の学習コストがほとんどかからないことを目的に作成された日本製フレームワークです。</p>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2>チュートリアル</h2>
		<p>初めてWingPHPを使用する入門者向けのドキュメントです。 ※製作中</p>
		{* <p><a class="btn btn-default" href="#">View details &raquo;</a></p> *}
	</div>
	<div class="col-lg-4">
		<h2>動作サンプル</h2>
		<ul>
			<li><a href="/sample/validation">Validation</a></li>
		</ul>
	</div>
	<div class="col-lg-4">
		<h2>リファレンス</h2>
		<p>※製作中</p>
		{* <p><a class="btn btn-default" href="#">View details &raquo;</a></p> *}
	</div>
</div>
